#Django Settings
DJANGO_SECRET_KEY=your-secret-key
DEBUG=True

#Database Settings
POSTGRES_DB=library
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432

#Celery / Redis Settings
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

#Stripe & Telegram Keys
TELEGRAM_BOT_TOKEN=123456789:your-bot-token-here
TELEGRAM_CHAT_ID=-100123456789
STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key